<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <%- include header.ejs %>
        <h1><%= title %></h1>
      <h2><%= name %></h2>
      <%- include map.ejs %> 
      <script>
        window.onload(function(){
          window.alert("Hello");
        })
      </script>   
  </body>
</html>